body{
    text-transform: capitalize;
    text-align: center;
    color: #FFD700;
    background-color: black;
    font-size:25px;
}
input{
    padding: 10px 6px;
    width: 250px;
    border: 2px solid rgb(167, 144, 14);
    border-radius: 25px;
}
input:hover{
    border:3px solid gold;
}
textarea{
    color: #FFD700;
    padding: 15px 20px;
    border: 2px solid  rgb(167, 144, 14);
    border-radius: 20px;
}
textarea:hover{
    border: 3px solid gold;
}
.btn:hover{
    background-color: gold;
    color:white;
}
.btn{
    text-decoration: none;
    height:10px;
    width:20px;
    background-color: black;
    color: gold;
    padding: 10px 20px;
    border: 2px solid  rgb(167, 144, 14);
    border-radius: 25px;
}
.whole{
    width:400px;
    margin:50px auto;
    padding: 30px 20px;
    border-radius: 25px;
    border: 2px solid;
}